.ride-forn
{
     background-image: url("E:\carpool\public\background.png");
   /* background-color: aqua; */
     height:47rem;
     background-repeat: no-repeat;
     background-size: 1520px 850px;
    
}

.forn-container-left
{
      padding: 5rem;  
      background-color: hsl(0, 0%, 99%);
      padding-top: 2rem;
      padding-left: 1rem;
      margin-left: 10rem;
      margin-right: 60rem;
      margin-top: 4rem;
      float: left;
      width: 25rem;
      border-radius: 1rem;
}
.forn-container-right
{
      padding: 5rem;  
      background-color: hsl(0, 0%, 99%);
      padding-top: 2rem;
      padding-left: 1rem;
      margin-left: 10rem;
      margin-right: 23rem;
      margin-top: -31rem;
      float: right;
      width: 25rem;
      border-radius: 1rem;
}
.next{
    color: rgb(98, 7, 168);
    font-weight: bolder;
    padding-left: 19rem;
}
.logoo
{
    margin-top: 1rem;
    margin-left: 1rem;
}

.button
{
    background-color: rgb(243, 210, 27);
     color: rgb(255, 255, 255);
     border: none;
     padding: 3%;
     display: inline-block;
     font-size: 1rem;
     border-radius: 20px;
     width: 8rem;
}
.clickprofilee {
    background-color: rgb(234, 234, 229);
    color: rgb(85, 84, 84);
    font-weight: bolder;
    font-size: larger;
    float: right;
    margin-top: -47rem;
    margin-right: 1.5rem;
    width: 8rem;
    padding-left: 2rem;
    padding-top: 0.2rem;
    height: 4rem;
}
.label1
{
    color: rgb(63, 60, 60);
    font-weight:bolder;
}
.label2
{
    color: rgb(6, 6, 6);
    font-weight:bolder;
}