.dashboard
{
     background-image: url("../public/page.jpg");
    background-repeat: no-repeat;
     height: 47rem;
     background-position: 100%;
     background-size: cover;
}
.dashboard h1{
     position: relative;
     padding-left: 29%;
     padding-top: 10%;
     padding-bottom: 1%;
   
}
/* .dashboard-body
{
     padding-left: 4%;
     position: relative;
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 47%;
     padding-top: 1rem;
} */
.service-menu .service-btn{
     background-color: rgb(133, 27, 195);
     color: rgb(255, 255, 255);
     border: none;
     padding: 6%;
     display: inline-block;
     font-size: 1.8rem;
     margin-right: 14px;
     margin-left: 27rem;
     border-radius: 20px;
}
.logo1{
     margin-left: 2rem;
     margin-top: .5rem;
}
.profile{
     margin-left: 82rem;
     border-radius: 33%;
  
     width: 6rem
}
.Clickprofile{
     background-color: rgb(234, 234, 229);
     color: rgb(85, 84, 84);
     font-weight: bolder;
     font-size: larger;
     float: right;
     margin-top: -27rem;
     margin-right: 1.5rem;
     width: 8rem;
     padding-left: 2rem;
     padding-top: .2rem;
     height: 4rem;
 }

.pro{
     list-style-type: none;
    
}
/* .border
{
     border-top: 3px solid grey;
     width: 2rem;
} */
.service-menu .service-btnn{
     background-color: rgb(243, 210, 27);
     color: rgb(255, 255, 255);
     border: none;
     padding: 6%;
     display: inline-block;
     font-size: 1.8rem;
     border-radius: 20px;
}
